{% extends 'autoTest/base.html' %}
{% block title %} 编辑签名 {% endblock %}
{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/index/">主页</a>
                </li>
                <li class="active">
                    <a class="this">基础信息</a>
                </li>
                <li class="active">
                    <a class="this-page">编辑签名</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">编辑签名</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{% url 'autoTest:encry_update' %}">
                    {% csrf_token %}
                    <input name="encry_id" value ={{ encry.encry_id }} hidden>
                    <div class="form-group">
                        <label for="encry_name" class="col-sm-2 control-label"><span style="color: red">* </span>签名名称:</label>
                        <div class="col-sm-6">
                            <input type="text" name="encry_name" value={{ encry.encry_name }} class="form-control"  id="encry_name" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="encry_function" class="col-sm-2 control-label"><span style="color: red">* </span>签名函数:</label>
                        <div class="col-sm-6">
                            <input type="text" name="encry_function" value={{ encry.encry_function }} class="form-control" id="encry_function">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">签名描述:</label>
                        <div class="col-sm-6">
                            <textarea name="description" class="form-control" id="description" rows="3">{{ encry.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-6">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                            <p style="color: red">ps: 添加或者修改签名后，请联系管理人员修改签名代码！</p>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>

{% endblock %}