{% extends 'autoTest/base.html' %}
{% block title %} 添加项目 {% endblock %}

{% block crumbs %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="/index/">主页</a>
            </li>
            <li class="active">
                <a class="this">基础信息</a>
            </li>
            <li class="active">
                <a class="this-page" href="{% url 'autoTest:pro_index' %}">项目管理</a>
            </li>
            <li class="active">
                <a class="">添加项目</a>
            </li>
        </ol>

    </div>
</div>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">编辑项目</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{% url 'autoTest:pro_update' %}">
                    {% csrf_token %}
                    <input name="pro_id" value ={{ pro.pro_id }} hidden>
                    <div class="form-group">
                        <label for="pro_name" class="col-md-2 control-label"><span style="color: red">* </span>项目名称:</label>
                        <div class="col-md-6">
                            <input type="text" name="pro_name" value ={{ pro.pro_name }} class="form-control" id="pro_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pro_description" class="col-md-2 control-label">项目描述</label>
                        <div class="col-md-6">
                            <textarea name="description" placeholder="请输入内容" class="form-control" id="pro_description" rows="3">{{ pro.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-6">
                            <button type="submit" class="btn btn-primary">保存</button>
                            <button type="reset" class="btn btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>

{% endblock%}